################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AgDiag/Binaries
/AgDiag/Source/obj/Debug
/AgDiag/.vs/AgDiag
/Tracker/Tracker/bin
/Tracker/Tracker/obj
/Tracker/.vs/Tracker
/TeensySLCAN/__vm
/TeensySLCAN/.vs
