################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AgDiag/Binaries
/AgDiag/Source/obj/Debug
/AgDiag/.vs/AgDiag
/Tracker/Tracker/bin/Debug
/Tracker/Tracker/obj/Debug
/Tracker/.vs/Tracker
/Tracker/.vs/Tracker/v17/.suo
/TeensySLCAN/__vm
/TeensySLCAN/.vs
